<div class="container">
  <div class="title">
    <h1>SKILLS</h1>
    <p>Dưới đây là các skill của tôi</p>
  </div>
  <div class="skill-container">
    <div class="skill-item">
      <img src="../../../assets/image/java.png" width="90%">
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/sql.png" width="90%" style="margin-top: -20px;">
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/angular.png" width="90%" style="margin-top: 20px;">
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/mongo.png" width="90%" style="margin-top: 15px;">
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/redis.png" width="90%" style="margin-top: -25px;">
    </div>

    <div class="skill-item">
      <img src="../../../assets/image/spring.png" width="90%" >
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/docker.png" width="90%" style="margin-top: -30px;">
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/kafka.jpg" width="90%" style="margin-top: -30px;">
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/git.png" width="90%" style="margin-top: -25px; margin-left: -15px;">
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/rest.png" width="90%" style="margin-top: -55px;">
    </div>
  </div>
</div>
