<div class="container">
  <div class="title">
    <h1>SKILLS</h1>
    <p>Dưới đây là các skill của tôi</p>
  </div>
  <div class="skill-container">
    <div class="skill-item">
      <img src="../../../assets/image/java-removebg-preview.png" width="90%" />
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/sql-removebg-preview.png" width="90%" />
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/angular.png" width="90%" />
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/mongo.png" width="90%" />
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/redis.png" width="90%" />
    </div>

    <div class="skill-item">
      <img src="../../../assets/image/spring.png" width="90%" />
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/docker.png" width="90%" />
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/kafka-removebg-preview.png" width="90%" />
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/git.png" width="90%" />
    </div>
    <div class="skill-item">
      <img src="../../../assets/image/rest-removebg-preview.png" width="90%" />
    </div>
  </div>
</div>
