<div class="container">
  <div class="title">
    <h1>COMPANY</h1>
    <p>Dưới đây là thông tin các công ty tôi đã và đang làm việc</p>
  </div>
  <div class="company-container">
    <div class="company-card">
      <img src="../../../assets/image/fpt.jpg" width="40%" height="85%" />
      <div class="description">
        <div>
          <b>FPT Information System</b>
          <p>
            Mauris fermentum dictum congue. Vivamus sed porta risus ut laoreet
            leo. Aliquam aliquam id diam at tincidunt.
          </p>
        </div>
      </div>
    </div>
    <div class="company-card">
      <div class="description">
        <b>CMC Global</b>
        <p>
          Mauris fermentum dictum congue. Vivamus sed porta risus ut laoreet
          leo. Aliquam aliquam id diam at tincidunt.
        </p>
      </div>
      <img src="../../../assets/image/cmc.jpg" width="40%" />
    </div>
    <div class="company-card">
      <img src="../../../assets/image/vti.jpg" width="40%" />
      <div class="description">
        <b>VTI Academy</b>
        <p>
          Mauris fermentum dictum congue. Vivamus sed porta risus ut laoreet
          leo. Aliquam aliquam id diam at tincidunt.
        </p>
      </div>
    </div>
  </div>
</div>
