<div class="container">
  <div class="title">
    <h1>EDUCATION</h1>
    <p>Dưới đây là thông tin học vấn của tôi</p>
  </div>
  <div class="education-container">
    <div class="education-card">
      <img src="../../../assets/image/dhqghn.jpeg" width="100%" height="60%" />
      <div class="description">
        <b>Ha Noi National University</b>
        <p>Mauris fermentum dictum congue. Vivamus sed porta risus ut laoreet leo. Aliquam aliquam id diam at tincidunt.</p>
      </div>
    </div>
    <div class="education-card">
      <img src="../../../assets/image/vti-aca.png" width="100%" height="60%" />
      <div class="description">
        <b>VTI Academy</b>
        <p>Mauris fermentum dictum congue. Vivamus sed porta risus ut laoreet leo. Aliquam aliquam id diam at tincidunt.</p>
      </div>
    </div>
    <div class="education-card">
      <img src="../../../assets/image/dhv.jpg" width="100%" height="60%" />
      <div class="description">
        <b>Vinh University Specialized High School</b>
        <p>Mauris fermentum dictum congue. Vivamus sed porta risus ut laoreet leo. Aliquam aliquam id diam at tincidunt.</p>
      </div>
    </div>
  </div>
</div>
